
<!-- Nav -->
	<nav id="nav">
		<div class="card">
		    <div class="card-header">Menu</div>
			<div class="list-group">
			  	<a href="../home.php" class="list-group-item list-group-item-action">	Inicio</a>
			  	<a href="../pessoa" class="list-group-item list-group-item-action">	Pessoa PSQL</a>
				<a href="../aluno" class="list-group-item list-group-item-action">	Aluno MYSQL</a>
				<a href="../professor" class="list-group-item list-group-item-action">	Professor Mongo</a>
				<a href="../sobre" class="list-group-item list-group-item-danger">		Sobre</a>
				<a href="../portfolio" class="list-group-item list-group-item-danger">	Portfolio</a>
				<a href="../time" class="list-group-item list-group-item-danger">		Time</a>
				<a href="../depois.php" class="list-group-item list-group-item-action">	</a>
				<a href="../antes.php" class="list-group-item list-group-item-dark">	Antigo</a>
			</div>
		</div>
	</nav>
<!-- #Nav -->
